<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lost and Found</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1 class="text-center">Lost and Found</h1>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        
        <div class="container">
            <form action="/" method="POST" role="form" enctype="multipart/form-data">
                <legend>Buscar persona</legend>
            
                <div class="form-group">
                    <label for="">Introduzca los datos de la persona</label>
                    <input type="text" name="nombre" class="form-control" id="" placeholder="Nombre">
                    <br>
                    <label for="">Introduzca una foto de la persona</label>
                    <input type="file" name="foto" class="form-control" placeholder="Foto de la persona">
                </div>
            
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="container" style="text-align: end;">
            <footer>Bryan Sanchez | 2017-4871</footer>
        </div>
        
       
        
    </body>
</html>
