
@{
    ViewBag.Title = "Busqueda";
}

@Styles.Render("~/Content/StyleSheet1.css")




<br />
<br />
<br />


<div >
    <table  >
        <tr>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
    
        </tr>
    </table bgcolor:White;>

</div>


<div>




    <ol>
        <b><li style="color:White">Lugar:</listyle="color:"></b>
        <b><li style="color:White">Dia:</listyle="color:White"></b>
        <b> <li style="color:White">Hora:</listyle="color:White"></b>
</ol>




</div>