
@{
    ViewBag.Title = "Espera";
}

@Styles.Render("~/Content/StyleSheet1.css")
<br />
<br />
<br />

<body >
    <div>
        <table>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>

            </tr>
        </table>

    </div>





    <h2 style="color:White" onload="funcion()">cargando....</h2>


</body">

    <a href="@Url.Action("Busqueda", "Home")"><button class="boton2"> Aceptar</button></a>
