@{
    ViewBag.Title = "Home Page";
}

<body>

    @Styles.Render("~/Content/StyleSheet1.css")
    <br />
    <br />
    <br />
    <div>

        <br />




        <form width="100" height="100"  class="tamaño" action="upload.php" method="POST">
            <input type="file" multiple accept="image/*">
            <p>Subir foto</p>



            <div id="preview_ie"></div>


        </form>


        <img id="preview" width="100" height="100"
             src=""
             alt=""
             style="display:none; max-width: 160px; max-height: 120px; border: none;" />

        <div id="preview_ie"></div>

        <script>

            $(document).ready(function () {
                $('form input').change(function () {
                    $('form p').text(this.files.length + " file(s) selected");
                });
            });
        </script>

        


        <a href="@Url.Action("Espera", "Home")"><button class="boton1">Enviar datos</button></a>

</body>
